:root {
    --bg1: #6a11cb;
    --bg2: #2575fc;
    --text: white;
    --box: rgba(255, 255, 255, 0.1);
}

/* LIGHT MODE */
.light {
    --bg1: #ff9a9e;
    --bg2: #fad0c4;
    --text: black;
    --box: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(270deg, var(--bg1), var(--bg2));
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
    color: var(--text);
}

@keyframes gradientMove {
    0% {
        background-position: 0%
    }

    50% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}

.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#themeToggle {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    width: 320px;
}

.login-box,
.welcome-box {
    background: var(--box);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.5s;
}

/* INPUT BOX */
.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid var(--text);
    color: var(--text);
}

/* LABEL */
.input-box label {
    position: absolute;
    left: 0;
    top: 10px;
    transition: 0.3s;
    pointer-events: none;
}

/* FLOAT EFFECT */
.input-box input:focus+label,
.input-box input:valid+label,
.input-box select:focus+label,
.input-box select:valid+label {
    top: -10px;
    font-size: 12px;
    color: #00ffcc;
}

/* BUTTON */
button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #00ffcc;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #00ccaa;
}

/* WELCOME */
.welcome-box {
    display: none;
}